<header>
  <!-- Mobile Nav -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary d-lg-none">
    <a class="navbar-brand text-info" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {{ range $page := .Pages }}
          <li class="nav-item">
            <a class="nav-link" href="#{{ anchorize $page.Title }}">{{ $page.Title }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>

  <!-- Desktop Nav -->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark fixed-top bg-primary d-none d-lg-block">
    <a class="navbar-brand text-info" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </nav>
</header>