<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Site.Title }}{{ with .Page.Title }} - {{ . }}{{ end }}</title>
    <meta name="description" content="{{ $.Site.Params.description }}">
    <meta name="author" content="Chelsi Slotten">
    <link rel="icon" href="favicon.ico">

    <meta name="theme-color" content="#002E5D"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/brands.css" integrity="sha384-V5Z1KgRRJyY878qCx7+zUeTDm0FgjoYrbmSortFqRPGz+Ue6XDe4uIiMqB3tB/wd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">


    {{ "<!-- Custom styles for this template -->" | safeHTML }}
    {{- with resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  </head>
  <body>

    {{ "<!-- Start header -->" | safeHTML }}
    {{ partial "header.html" . }}
    {{ "<!-- End header -->" | safeHTML }}


    <!-- Wrap the rest of the page in another container to center all the content. -->
    <main role="main" class="container clearfix">
      {{ "<!-- Start main -->" | safeHTML }}
      {{- block "main" . }}{{- end }}
      {{ "<!-- End main -->" | safeHTML }}
    </main>

    {{ "<!-- Start footer -->" | safeHTML }}
    {{ partial "footer.html" . }}
    {{ "<!-- End footer -->" | safeHTML }}

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
