<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ $.Site.Params.description }}">
    <meta name="author" content="Chelsi Slotten">
    <link rel="icon" href="favicon.ico">

    <title>{{ .Site.Title }}</title>

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

    {{ "<!-- Custom styles for this template -->" | safeHTML }}
    {{- with resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  </head>
  <body>

    {{ "<!-- Start header -->" | safeHTML }}
    {{ partial "header.html" . }}
    {{ "<!-- End header -->" | safeHTML }}

    <main role="main">

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

          {{ "<!-- Start main -->" | safeHTML }}
          {{- block "main" . }}{{- end }}
          {{ "<!-- End main -->" | safeHTML }}

      </div><!-- /.container -->


      {{ "<!-- Start header -->" | safeHTML }}
      {{ partial "footer.html" . }}
      {{ "<!-- End header -->" | safeHTML }}

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js" integrity="sha512-DSdiuNZtfUhehZHXtit9Sa/83i06YSnvT8Js8drwdkVCDMk3JwpIxdhf2oRUByUDB3wguN2iAzoTNfxFAuqGyA==" crossorigin="anonymous"></script>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
