{{ define "main" }}
{{ "<!-- Start single main -->" | safeHTML }}

{{ $page := . }}

<div class="row">
  <div class="col col-8">
    <div class="row top-header">
      <h1>{{ default $page.Description $page.Params.subtitle }}</h1>
    </div>
    <div class="row">
      {{ $page.Content }}
    </div>
  </div>
  <div class="col col-4">
    {{ with $page.Params.image }}
      {{ $image_name := . }}
      {{ $image := $page.Resources.GetMatch $image_name }}
      {{- partial "img.html" (dict
        "src" $image
        "alt" $page.Params.image_alt
        "width" "500"
        "height" "500"
        "method" "Fit"
        "class" "img-fluid border border-primary border-3"
        )
      }}
    {{ end }}
  </div>
</div>

{{ "<!-- End single main -->" | safeHTML }}
{{ end }}