@import "bootstrap/functions";

// variables
$chelsi-orange: #E8634E;
$chelsi-gray: #DBDBDB;
$chelsi-blue: #002E5D;

$primary: $chelsi-blue;
$secondary: $chelsi-gray;
$info: $chelsi-orange;

$body-bg: $chelsi-gray;
$body-color: $chelsi-blue; //$chelsi-orange;

$navbar-dark-brand-color: $chelsi-orange;
$navbar-dark-brand-hover-color: rgba($chelsi-orange, .9);

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
// @import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
// @import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
// @import "bootstrap/accordion";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/toasts";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
@import "bootstrap/carousel";
// @import "bootstrap/spinners";
// @import "bootstrap/offcanvas";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";

/* GLOBAL
-------------------------------------------------- */

$large-pad: 4rem;

@mixin enable-word-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  color: $chelsi-blue;
}

a {
  @include enable-word-break;
}


/* NAVBAR
-------------------------------------------------- */

header {
  nav {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .bg-primary;
    @extend .fixed-top;
  }

  @extend .mb-5;
}


/* FOOTER
-------------------------------------------------- */

footer {
  svg {
    width: 48px;
    height: 48px;
    fill: $chelsi-blue;
  }

  li {
    @extend .px-2;
  }
}


/* HOMEPAGE CONTENT
-------------------------------------------------- */

.homepage-carousel {
  @extend .bg-primary;
  @extend .d-none;
  @extend .d-lg-flex;
  @extend .py-4;
  @extend .mb-4;
  @extend .text-center;
}


/* PORTFOLIO CONTENT
-------------------------------------------------- */

.portfolio-cols {
  @extend .d-flex;
  @extend .g-5;

  @include row-cols(1);
  @include media-breakpoint-up(md) {
    @include row-cols(2);
  }
  @include media-breakpoint-up(xl) {
    @include row-cols(3);
  }
}

.portfolio-col {
  @extend .card-group;

  a {
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    .card-text {
      visibility: hidden !important;
    }

    &:hover {
      .card-text {
        visibility: visible !important;
      }
    }
  }
}

.portfolio {
   .portfolio-hover {
      visibility: hidden !important;
   }
   .portfolio-default {
      visibility: visible !important;
   }
   &:hover {
     .portfolio-hover {
        visibility: visible !important;
     }
     .portfolio-default {
        visibility: hidden !important;
     }
   }
}

.portfolio-single {
  @extend .d-block;

  .row-stripped {
    background-color: $chelsi-gray;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -9999px;
      right: 0;
      z-index: -1;
    }
    &:nth-of-type(even) {
      background-color: $chelsi-gray;
      &::before {
        border-left: 9999px solid $chelsi-gray;
        box-shadow: 9999px 0 0 $chelsi-gray;
      }
    }
    &:nth-of-type(odd) {
      background-color: $white;
      &::before {
        border-left: 9999px solid $white;
        box-shadow: 9999px 0 0 $white;
      }
    }
  }
}

.portfolio-persona {
  @extend .mb-3;


  .img-wrap {
    @extend .ratio;
    @extend .ratio-1x1;

    @extend .rounded-circle;

    background-color: $chelsi-orange;

    img {
      @extend .p-3;
    }
  }

  ul {
    @extend .list-unstyled;
  }
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
}

.auto-height {
  height: auto;
}

.bullet {
  color: $chelsi-orange;
  @extend .fs-1;
  @extend .fw-bold;
}

.p-img-fluid {
  img {
    @extend .img-fluid;
  }
  @extend .mb-0;
}

.tr-text-center {
  tbody tr {
    @extend .text-center;
    @extend .align-middle;
  }
}

/* .tr-first-col {
  tbody {
    background-color: green;
    tr::nth-of-type(1) {
      color: red;
    }
  }
} */

.top-header {
  @extend .bg-primary;
  
  @extend .d-flex;
  
  @extend .py-4;
  @extend .mb-4;
  @extend .p-lg-5;
  
  @extend .mx-auto;

  @extend .text-center;
  @extend .text-secondary;

  h1 {
    @extend .display-4;
    @extend .fw-normal;
  }

  p {
    @extend .my-0;
    @extend .fw-normal;
    @extend .lead;
    @extend .px-2;
  }
}