{{ define "main" }}

<!-- Three columns of text below the carousel -->
<div class="row">
  {{ range $page := .Pages }}
    {{ $image_name := $page.Params.image }}
    {{ $image := $page.Resources.GetMatch $image_name }}
    {{ if ne $image.ResourceType "image" }}{{ errorf "Image ResourceType not jpg: %s %s" .Path $image.ResourceType }}{{ end }}
    {{ $image_resized := $image.Fit "140x140" }}
    <div class="col-lg-4">
      <img class="rounded-circle" src="{{ $image_resized.Permalink }}" alt="Generic placeholder image" width="140" height="140">
      <h2>{{ $page.Title }}</h2>
      <p>{{ $page.Description }}</p>
      <p><a class="btn btn-secondary" href="#{{ anchorize $page.Title }}" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  {{ end }}
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

{{ range $index, $page := .Pages }}
  {{ $image_name := $page.Params.image }}
  {{ $image := $page.Resources.GetMatch $image_name }}
  {{ if ne $image.ResourceType "image" }}{{ errorf "Image ResourceType not jpg: %s %s" .Path $image.ResourceType }}{{ end }}
  {{ $image_resized := $image.Fit "500x500" }}
  <div class="row featurette" id="{{ anchorize $page.Title }}">
    <div class="col-md-7 {{if (modBool $index 2)}}order-md-2{{end}}">
      <h2 class="featurette-heading">{{ $page.Params.subtitle }}</h2>
      {{ $page.Content }}
    </div>
    <div class="col-md-5 {{if (modBool $index 2)}}order-md-1{{end}}">
      <img class="featurette-image img-fluid mx-auto" src="{{ $image_resized.Permalink }}" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
{{ end }}

<!-- /END THE FEATURETTES -->

{{ end }}
