{{- define "main" }}

<!-- Three columns of text below the carousel -->
<div class="row homepage-carousel">
  {{- range $menu := (where .Site.Menus.main "Page" "!=" nil) }}
    {{- $page := $menu.Page }}
    {{- $image_name := $page.Params.image }}
    {{- $image := $page.Resources.GetMatch $image_name }}
    <div class="col-lg-4 text-secondary">
      <a href="{{ $page.Permalink }}">
        {{- partial "img.html" (dict
          "src" $image
          "alt" $page.Params.image_alt
          "width" "140"
          "height" "140"
          "method" "Fill"
          "class" "rounded-circle"
          )
        }}
      </a>
    </div><!-- /.col-lg-4 -->
  {{- end }}
  {{- range $menu := (where .Site.Menus.main "Page" "!=" nil) }}
    {{- $page := $menu.Page }}
    <div class="col-lg-4 text-secondary">
      <h2>{{ $page.Title }}</h2>
      <p>{{ $page.Description }}</p>
    </div><!-- /.col-lg-4 -->
  {{- end }}
  {{- range $menu := (where .Site.Menus.main "Page" "!=" nil) }}
    {{- $page := $menu.Page }}
    <div class="col-lg-4 text-secondary">
      <div class="align-text-bottom h-100">
        <a class="btn btn-info align-text-bottom" href="{{ $page.Permalink }}" role="button">View details &raquo;</a>
      </div>
    </div><!-- /.col-lg-4 -->
  {{- end }}
</div><!-- /.row -->

{{ "<!-- Start single main -->" | safeHTML }}
{{ .Content }}
{{ "<!-- End single main -->" | safeHTML }}

{{- end }}
